<label class="relative inline-flex items-center cursor-pointer ml-8">
    <input type="checkbox" class="sr-only peer" (change)="toggleVisibility($event)">
    <div
        class="w-11 h-6 bg-custom-gradient rounded-full dark:peer-focus:bg-custom-gradient peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-0.5 after:bg-white after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-custom-gradient">
    </div>
    <span class="ml-3 font-medium text-green-700 dark:text-gray-300">wyświetl (tak)</span>
</label>